/*!
 * Copyright (c) Noel Wapp 2017. - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 */

.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  overflow: auto;


  &.invisible{
    z-index: -9999;
    .inner{
      .mce-resizehandle{
        i{
        }
        display: none;
      }
    }
  }
  .inner{
    width: 80%;
    margin: 100px auto;
    background-color: white;
    padding: 50px;
    box-shadow: 0 0 30px -8px black;

    header{
      font-size: 18pt;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .popup-body{
      display: inline-block;
      .mce-resizehandle{
        display: inline-block;
      }
    }
    .close{
      &:after{
        content: "\f2d3";
        font-family: FontAwesome, serif;
      }
      position: absolute;
      right: 10.1%;
      color: #8c8c8c;
      font-size: 25pt;
      margin-left: 765px;
      cursor: pointer;
      opacity: 1;
      top: 99px;
      &:hover{
        color: black;
      }
    }
    table{
      width: 100%;
      tr{
        cursor: pointer;
        &.selected{
          background-color: #4682b4;
          color: white;
        }
      }
    }
  }
}