@import model.ClientView
@(clients: Seq[ClientView])

<table class="table times">
    <thead >
        <tr>
            <th>ID</th>
            <th>User id</th>
            <th>User</th>
            <th>Company id</th>
            <th>Company</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @for(client <- clients){
            <tr>
                <td>@client.id</td>
                <td>@client.user.id</td>
                <td>@client.user.firstName @client.user.lastName</td>
                <td>@client.company.id</td>
                <td>@client.company.name</td>
                <td><button type="button" class="btn btn-primary">Edit</button></td>
                <td><button type="button" class="btn btn-danger">Delete</button></td>
            </tr>
        }
    </tbody>
</table>
<button id="new-client" type="button"class="btn btn-primary">New Client</button>