@import model.TimeView

@import org.joda.time.Seconds
@import org.joda.time.Minutes
@import model.ClientView

@(times: Seq[TimeView], clients: Map[Int, ClientView])
<table class="table times">
    <thead >
        <tr>
            <th>ID</th>
            <th>Triggered by</th>
            <th>Client</th>
            <th>Start date/time</th>
            <th>Stop date/time</th>
            <th>Time spend</th>
            <th>Unit</th>
            <th>Note</th>
            <th>Billed</th>
        </tr>
    </thead>
    <tbody>
        @for(item <- times){
            <tr>
                <td>@item.id</td>
                <td>@item.triggeredBy.firstName @item.triggeredBy.lastName</td>
                @if(clients.contains(item.client.id)){
                    <td>@clients(item.client.id).user.firstName @clients(item.client.id).user.lastName @@ @clients(item.client.id).company.name</td>
                }else{
                    <td>@item.client.id </td>
                }
                @if(item.start.isDefined){
                    <td>@item.start.get.toString </td>
                }else{
                    <td>None</td>
                }
                @if(item.stop.isDefined){
                    <td>@item.stop.get.toString </td>
                }else{
                    <td>None</td>
                }
                @if(item.start.isDefined && item.stop.isDefined){
                    @if(Seconds.secondsBetween( item.start.get, item.stop.get).getSeconds < 60){
                        <td>@Seconds.secondsBetween( item.start.get, item.stop.get).getSeconds</td>
                        <td>Seconds</td>
                    }else{
                        <td>@Minutes.minutesBetween( item.start.get, item.stop.get).getMinutes</td>
                        <td>Minutes</td>
                    }
                }else{
                    <td>None</td>
                    <td>None</td>
                }

                <td><button onclick="DashboardInstance.createEditNote(@item.id)" type="button" class="btn btn-primary">Create/edit note</button></td>
                @if(item.billed){
                    <td><button type="button" class="btn btn-success" onclick="DashboardInstance.unbilled(@item.id)">Set unbilled</button></td>
                }else{
                    @if(item.stop.isDefined){
                        <td><button type="button" class="btn btn-secondary" onclick="DashboardInstance.billed(@item.id, 1)">Billed</button></td>
                    }else{
                        <td><button disabled type="button" class="btn btn-secondary" onclick="DashboardInstance.billed(@item.id, 1)">Billed</button></td>
                    }
                }
            </tr>
        }
    </tbody>
</table>