@import model.Company
@(companies: Seq[Company])

<table class="table times">
    <thead >
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Telephone</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @for(company <- companies){
            <tr>
                <td>@company.id</td>
                <td>@company.name</td>
                <td>@company.address</td>
                <td>@company.city</td>
                <td>@company.tel</td>
                <td><button type="button" class="btn btn-primary" onclick="DashboardInstance.editCompany(@company.id)">Edit</button></td>
                <td><button type="button" class="btn btn-danger">Delete</button></td>
            </tr>
        }
    </tbody>
</table>
<button id="new-company" type="button"class="btn btn-primary">New Company</button>