@(idTarget: String, header: String)(content: Html)

<div id="@idTarget" class="invisible popup">
    <div class="inner">
        <div class="close"></div>
        <header>@header</header>
        <div class="popup-body">
            @content
        </div>
        <button type="button" class="btn btn-success">Save</button>
    </div>
</div>