@import model.Client
@import model.Time
@import model.ClientView
@(clients: Seq[ClientView], active: Time)

@if(active != null && (active.id != null || active.id == -1)) {
    <script>
            var time = {
                id: @active.id,
                triggeredBy: @active.triggeredBy,
                client: @active.client,
                @if(active.start.isDefined){
                    start: "@active.start.get",
                }else{
                    start: null,
                }
                @if(active.stop.isDefined){
                stop: "@active.stop.get",
                }else{
                stop: null,
                }
                note: "@active.note",
                billed: @active.billed
            }
    </script>
}


<div class="panel">
    <h2>Clockr action</h2>
    @if(active == null || active.start.isEmpty) {
        <select id="selectClient">
            <option value="empty">None</option>
            @for(client <- clients) {
                <option value="@client.id">@client.user.firstName @client.user.lastName @@ @client.company.name</option>
            }
        </select>
        <button id="toggle-timer" type="button" class="btn btn-success">Start</button>
    } else {
        <select disabled id="selectClient">
            <option value="empty">None</option>
            @for(client <- clients) {
                <option value="@client.id">@client.user.firstName @client.user.lastName @@ @client.company.name</option>
            }
        </select>
        <button id="toggle-timer" type="button" class="btn btn-danger">Stop</button>
    }

</div>