@import model.User

@(users: Seq[User])

<table class="table times">
    <thead >
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @for(user <- users){
            <tr>
                <td>@user.id</td>
                <td>@user.email</td>
                <td>@user.firstName</td>
                <td>@user.lastName</td>
                <td><button type="button" class="btn btn-primary">Edit</button></td>
                <td><button type="button" class="btn btn-danger" onclick="DashboardInstance.deleteUser(@user.id)">Delete</button></td>
            </tr>
        }
    </tbody>
</table>
    <button id="new-user" type="button"class="btn btn-primary">New user</button>