@import helper._
@import model.UserForm
@(userForm: Form[UserForm])(implicit request: Request[AnyContent], messagesProvider: MessagesProvider)

<div class="container">
    @form(action = controllers.routes.LoginController.onLogin(), 'class -> "form-signin") {
        @CSRF.formField
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" name="email">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    }
</div>